.mainListView{
  height: 100%;
  overflow-y:scroll;
  ul{
    text-align: left;
    width: 100%;
    display: flex;
    overflow: hidden;
    padding-left: 0;
    flex-direction: column ;
    li{
      height: 40px;
      margin-top: 10px;
      padding-left: 15px;
      //overflow: hidden;
      border-bottom: 1px solid #ebebeb;
      display: flex;
      flex-direction: row;
      .topic-up{
        background: #80bd01;
        color: #fff;
        padding: 0 5px;
      }
      .title{
        flex: 1;
        color: #000000;
        font-size: 16px;
        height: 22px;
        overflow: hidden;
        word-break: normal;
      }
      span{
        display: inline-block;
      }
    }
  }
}
.mr{
  margin-right: 10px;
}
.ml{
  margin-left: 10px;
}