.homePage {
  header{
    height: 40px;
    overflow: hidden;
    background: #f6f6f6;
    ul{
      display: flex;
      flex-direction: row;
      li{
        flex: 0 0 80px;
        text-align: left;
        line-height: 40px;
        a{
          color: #80bd01;
          padding: 5px;
          &:hover{
            color: #005580;
          }
        }
        .active {
          background: #80bd01;
          color: #fff;
        }
      }
    }
  }
}
